<div class="admin-tab-content">
  <div class="fx-column-start-stretch ">
  <coding-box-users-menu [selectedUser]="selectedUsers"
                          [selectedRows]="selectedRows"
                          [checkedRows]="selectedRows"
                          (userAdded)="addUser($event)"
                         (userEdited)="editUser($event)"
                         (usersDeleted)="deleteUsers($event)"
                         (setUserWorkspaceAccessRights) ="setUserWorkspaceAccessRight($event)">
  </coding-box-users-menu>
    <div class="fx-column-start-start">
      <coding-box-users-selection class="fx-flex-row-50 object-list"
                                  (userSelectionChanged)="userSelectionChanged($event)"
                                  [selectedUserIds]="selectedUsers"></coding-box-users-selection>
    </div>
  </div>
</div>
