:host {
  display: block;
  width: 100%;
  height: 100%;
}

.fx-column-start-start {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unitHost {
  height: 100%;
  width: 100%;
  border: none;
}

:host(.print-mode) .unitHost {
  height: auto;
  /* min-height will be set dynamically based on content */
}