

.full-width {
  min-width: 100%;
}

coding-box-search-filter {
min-width:100%;
}

mat-table{
  max-width:78vh;
  max-height:78vh;
  overflow-y: scroll;
}

.container{
  margin:20px;
  max-height: 78vh;
  min-height: 78vh;
}

a{
  min-width:300px;
  padding:20px;
  font-size: 16px;
}

.upload-buttons{
  margin: 10px;
}

.mat-column-file_size,.mat-column-file_type,.mat-column-created_at {
  width: 20%;
}

.mat-column-filename {
  width: 40%;
}

p{
  font-size: 20px;
}

mat-row:hover {
  background-color: #e3f2fd;
  cursor: pointer;
}
