<div class="fx-column-start-start fx-gap-10 container">
  <div class="fx-row-center-center-stretch fx-gap-20 upload-buttons">
    <a mat-raised-button color="primary" (click)="testCenterImport()">
      <mat-icon>upload</mat-icon>
      Testcenter Import
    </a>
    <a mat-raised-button color="primary" (click)="hiddenSurveyContentInput.click()">
      <mat-icon>upload</mat-icon>
      {{ 'ws-admin.upload-survey-content' | translate }}
    </a>
    <a mat-raised-button color="primary" (click)="hiddenTestTakersInput.click()">
      <mat-icon>group_add</mat-icon>
      {{ 'ws-admin.upload-test-takers' | translate }}
    </a>
    <a mat-raised-button color="primary" [disabled]="tableCheckboxSelection.selected.length === 0" (click)="deleteFiles()">
      <mat-icon>delete</mat-icon>
      Test Datei(en) löschen
    </a>
    <a mat-raised-button color="primary" (click)="validateFiles()">
      <mat-icon>fact_check</mat-icon>
      Validieren
    </a>
    <a mat-raised-button color="primary" (click)="openResourcePackagesDialog()">
      <mat-icon>archive</mat-icon>
      Pakete
    </a>
  </div>

  <input #hiddenSurveyContentInput type="file"
         name="survey-content-files"
         accept=".xml,.voud,.vocs,.zip,.html"
         multiple
         [hidden]="true"
         (change)="onFileSelected($event.currentTarget, 'survey')"/>

  <input #hiddenTestTakersInput type="file"
         name="testtakers-files"
         accept=".xml"
         multiple
         [hidden]="true"
         (change)="onFileSelected($event.currentTarget, 'testtakers')"/>

  <div class="loading-container" *ngIf="isLoading">
    <mat-spinner class="mat-spinner"></mat-spinner>
    <p class="loading-text" *ngIf="isValidating">Validierung wird durchgeführt...</p>
    <p class="loading-text" *ngIf="!isValidating">Dateiliste wird geladen...</p>
  </div>


  @if (!isLoading) {
    <div class="data-card">
      <div class="search-section">
        <div class="filter-container">
          <coding-box-search-filter
            [title]="'search-filter.filter-test-files' | translate"
            (valueChange)="onTextFilterChange($event)">
          </coding-box-search-filter>

          <div class="filter-selects">
            <mat-form-field appearance="outline" class="filter-select">
              <mat-label>{{'file-upload.file_type' | translate}}</mat-label>
              <mat-select [(ngModel)]="selectedFileType" (selectionChange)="applyFilters()">
                <mat-option value="">Alle Dateitypen</mat-option>
                <mat-option *ngFor="let type of fileTypes" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="filter-select">
              <mat-label>{{'file-upload.file_size' | translate}}</mat-label>
              <mat-select [(ngModel)]="selectedFileSize" (selectionChange)="applyFilters()">
                <mat-option *ngFor="let range of fileSizeRanges" [value]="range.value">
                  {{range.display}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-stroked-button color="primary" (click)="clearFilters()" class="clear-filters-btn">
              <mat-icon>clear</mat-icon>
              Filter zurücksetzen
            </button>
          </div>
        </div>
      </div>

      <div class="table-container">
        <mat-table [dataSource]="dataSource" class="files-table">
          <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="downloadFile(row)" class="clickable-row">
          </mat-row>

          <ng-container matColumnDef="selectCheckbox">
            <mat-header-cell *matHeaderCellDef class="fx-flex-row-fix-70">
              <mat-checkbox [checked]="(tableCheckboxSelection | hasSelectionValue : tableCheckboxSelection.selected.length) &&  (tableCheckboxSelection.selected.length | isAllSelected : dataSource.data.length)"
                            [indeterminate]="(tableCheckboxSelection | hasSelectionValue : tableCheckboxSelection.selected.length) && !(tableCheckboxSelection.selected.length | isAllSelected : dataSource.data.length)"
                            (change)="$event ? masterToggle() : null">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="fx-flex-row-fix-70">
              <mat-checkbox [checked]="tableCheckboxSelection | isSelected: row : tableCheckboxSelection.selected.length"
                            (click)="$event.stopPropagation()"
                            (change)="$event ? tableCheckboxSelection.toggle(row) : null">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="filename">
            <mat-header-cell *matHeaderCellDef>{{'file-upload.filename' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="file-info">
                <mat-icon class="file-icon">{{getFileIcon(element.file_type)}}</mat-icon>
                <span>{{element.filename}}</span>
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="file_size">
            <mat-header-cell *matHeaderCellDef>{{'file-upload.file_size' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span class="file-size">{{element.file_size | fileSize}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="file_type">
            <mat-header-cell *matHeaderCellDef>{{'file-upload.file_type' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span class="file-type-badge">{{element.file_type}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="created_at">
            <mat-header-cell *matHeaderCellDef>{{'file-upload.created_at' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span class="date-time">{{element.created_at | date: 'dd.MM.yyyy HH:mm'}}</span>
            </mat-cell>
          </ng-container>
        </mat-table>
      </div>

      <div class="empty-state" *ngIf="dataSource?.data?.length === 0">
        <mat-icon class="empty-icon">folder_open</mat-icon>
        <p class="empty-text">Keine Test-Dateien vorhanden. Laden Sie Dateien hoch, um zu beginnen.</p>
      </div>
    </div>
  }

</div>
