<div class="page-body">
  <div class="admin-background">
    <nav mat-tab-nav-bar class="navigation"
      [tabPanel]="tabPanel">
      @for (link of navLinks; track link) {
        <a mat-tab-link
          [routerLink]="link"
          routerLinkActive="active-link"
          #rla="routerLinkActive"
          [active]="rla.isActive">
          {{'ws-admin.' + link | translate}}
        </a>
      }
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
      <coding-box-coding-jobs></coding-box-coding-jobs>
      <coding-box-coding-management></coding-box-coding-management>
  </div>
</div>
