.admin-background {
  box-shadow: 5px 10px 20px black;
  background-color: white;
  padding: 25px;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

.communication-error-message {
  color: red;
  padding: 10px 50px;
}
.active-link {
  color: black;
}

.page-body {
  height: 100%;
}

a{
  font-size: 18px;
}
.navigation{
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.router-panel {
  flex: 1;
  overflow: auto;
}

.no-access-message {
  text-align: center;
  padding: 50px;
  font-size: 18px;
}
