<h1 mat-dialog-title>{{(data.newUser ? 'admin.new-user' : 'admin.edit-user') | translate}}</h1>
<mat-dialog-content class="fx-column-start-stretch">
  <form [formGroup]="editUserForm"
    class="fx-column-start-stretch">
    <mat-form-field>
      <input matInput
        formControlName="username"
        type="text" readonly
        [placeholder]="'user.login-name' | translate"
        [value]="data.username"/>
    </mat-form-field>
    <mat-checkbox formControlName="isAdmin"
      [value]="data.isAdmin ? 'true' : 'false'"
      class="consent">
      {{'user.admin' | translate}}
    </mat-checkbox>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary"
    type="submit"
    [mat-dialog-close]="editUserForm"
    [disabled]="editUserForm.invalid">
    {{ 'save' | translate}}
  </button>
  <button mat-raised-button
    [mat-dialog-close]="false">
    {{'cancel' | translate}}
  </button>
</mat-dialog-actions>
