## Version
TAG=latest

## Image Registry Path
# Docker Hub:       (aka registry-1.docker.io/) leave REGISTRY_PATH value empty!
# Docker Hub Proxy: scm.cms.hu-berlin.de:443/iqb/dependency_proxy/containers/
# GitLab:           scm.cms.hu-berlin.de:4567/iqb/coding-box/
REGISTRY_PATH=scm.cms.hu-berlin.de:443/iqb/dependency_proxy/containers/

## Redis
REDIS_PORT=6379

## Database
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=root-password
POSTGRES_DB=coding-box

## Backend
API_PORT=3333
JWT_SECRET=random_string

## Frontend
HTTP_PORT=4200

## Infrastructure
SERVER_NAME=localhost

## Keycloak
KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
