services:
  db:
    image: ${REGISTRY_PATH}iqbberlin/coding-box-db:${TAG}
    restart: always

  liquibase:
    image: ${REGISTRY_PATH}iqbberlin/coding-box-liquibase:${TAG}

  backend:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.entrypoints=websecure"
      - "traefik.http.routers.backend.rule=(HostRegexp(`www.${SERVER_NAME}`) || Host(`${SERVER_NAME}`)) && PathPrefix(`/api`)"
      - "traefik.http.routers.backend.tls=true"
      - "traefik.http.routers.backend.tls.certResolver=iqbresolver"
      - "traefik.http.routers.backend.tls.domains[0].main=${SERVER_NAME}"
      - "traefik.http.routers.backend.tls.domains[0].sans=www.${SERVER_NAME}"
      - "traefik.http.routers.backend.middlewares=security-headers"
      - "traefik.http.routers.backend.service=backend"
      - "traefik.http.services.backend.loadbalancer.server.port=3333"
      - "traefik.docker.network=app-net"
    image: ${REGISTRY_PATH}iqbberlin/coding-box-backend:${TAG}
    depends_on:
      redis:
        condition: service_healthy
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PREFIX: ${REDIS_PREFIX:-coding-box}
      BACKEND_CALLBACK_BASE_PATH: auth/callback
    volumes:
      - "backend_vol:/usr/src/coding-box-backend/packages"
    restart: always

  frontend:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.rule=HostRegexp(`www.${SERVER_NAME}`) || Host(`${SERVER_NAME}`)"
      - "traefik.http.routers.frontend.tls=true"
      - "traefik.http.routers.frontend.tls.certResolver=iqbresolver"
      - "traefik.http.routers.frontend.tls.domains[0].main=${SERVER_NAME}"
      - "traefik.http.routers.frontend.tls.domains[0].sans=www.${SERVER_NAME}"
      - "traefik.http.routers.frontend.middlewares=security-headers"
      - "traefik.http.routers.frontend.service=frontend"
      - "traefik.http.services.frontend.loadbalancer.server.port=8080"
      - "traefik.docker.network=app-net"
    image: ${REGISTRY_PATH}iqbberlin/coding-box-frontend:${TAG}
    environment:
      - KEYCLOAK_URL=${KEYCLOAK_URL:-https://keycloak.kodierbox.iqb.hu-berlin.de/}
      - KEYCLOAK_REALM=${KEYCLOAK_REALM:-iqb}
      - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID:-coding-box}
      - BACKEND_URL=${BACKEND_URL:-api/}
    volumes:
      - "./config/frontend/default.conf.template:/etc/nginx/templates/default.conf.template:ro"
    restart: always
