x-env-postgres: &env-postgres
  POSTGRES_HOST: db
  POSTGRES_PORT: 5432
  POSTGRES_USER: ${POSTGRES_USER}
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  POSTGRES_DB: ${POSTGRES_DB}

x-env-redis: &env-redis
  REDIS_HOST: redis
  REDIS_PORT: 6379
  REDIS_PREFIX: coding-box

x-env-keycloak: &env-keycloak
  OIDC_PROVIDER_URL: ${OIDC_PROVIDER_URL}
  KEYCLOAK_REALM: ${KEYCLOAK_REALM}
  KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID}
  KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET}

services:
  redis:
    image: redis:alpine
    volumes:
      - "redis_data:/data"
    networks:
      - application-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  db:
    environment:
      <<: *env-postgres
    volumes:
      - "db_vol:/var/lib/postgresql/data"
    networks:
      - application-network

  liquibase:
    depends_on:
      db:
        condition: service_healthy
    environment:
      <<: *env-postgres
    command: [
      "liquibase",
      "--url=jdbc:postgresql://db:5432/$POSTGRES_DB",
      "--username=$POSTGRES_USER",
      "--password=$POSTGRES_PASSWORD",
      "--classpath=changelog",
      "--changeLogFile=coding-box.changelog-root.xml",
      "update"
    ]
    networks:
      - application-network

  backend:
    depends_on:
      db:
        condition: service_healthy
      liquibase:
        condition: service_completed_successfully
      redis:
        condition: service_healthy
    environment:
      API_HOST: backend
      BACKEND_CALLBACK_BASE_PATH: api/auth/callback
      <<: [ *env-redis, *env-postgres, *env-keycloak ]
    networks:
      - application-network

  frontend:
    depends_on:
      db:
        condition: service_healthy
      liquibase:
        condition: service_completed_successfully
      backend:
        condition: service_started
    networks:
      - application-network

volumes:
  db_vol:
  backend_vol:
  redis_data:

networks:
  application-network:
    name: app-net
    external: true
