<div class="app">
  @if (appService.dataLoading) {
    <div
      class="spinner-container fx-column-start-center">
      <mat-spinner class="fx-flex-fix-100"></mat-spinner>
      <button
        mat-button
        class="fx-flex-fill">
      </button>
    </div>
  }
  <div class="fx-row-space-between-center app-header">
      <a [routerLink]="['/']" [attr.aria-label]="'home.go-home' | translate">
        <img [src]="appService.appLogo.data"
             [matTooltip]="appService.appLogo ? appService.appLogo.alt : 'home.home-page' | translate"
             [alt]="appService.appLogo ? appService.appLogo.alt : 'home.home-page' | translate"/>
      </a>
    <h1 [style]="{color:'lightgrey',fontSize:'30px'}">Kodierbox</h1>

    <div class="admin">
      @if(appService.authData.isAdmin){
        <button  [style]="{color:'lightgrey'}" mat-button class="icon-button-large"
                 [routerLink]="['/admin']"
                 [matTooltip]="'home.goto-admin' | translate"
                 matTooltipPosition="above"
                 data-cy="goto-admin">
          <coding-box-wrapped-icon icon="settings"></coding-box-wrapped-icon>
        </button>
      }
      <coding-box-user-menu></coding-box-user-menu>
    </div>
  </div>
  <router-outlet />
</div>


