.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-left{
  min-width: 50%;
  height: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app{
  background: linear-gradient(180deg, rgba(7,70,94,1) 0%, rgba(6,112,123,1) 24%, rgba(1,192,229,1) 85%);
  height: 100%;
}

img{
  width: 100px;
  height: 70px;
  object-fit: cover;
}

.app-header{
  padding:10px;
}

.app-title {
  color: lightgrey ;
  text-align: center;
  margin: 0 auto;


  &.margin-logged-in {
    margin-left: 25px;
    margin-right: 0;
  }

  &.margin-logged-out {
    margin-left: 0;
    margin-right: 100px;
  }
}
