.scroll-area {
  overflow-y: auto;
}

.full-width {
  min-width: 100%;
}

.container{
  margin:20px;
  overflow: auto;
  height: calc(90% - 100px);
  overflow-x: hidden;
}

.big-select{
  width: 400px;
}

p{
  font-size: 20px;
}
a{
  min-width:400px;
}

button{
  margin-top: 20px;
}
replay{
  overflow-y: auto;
}

.selection-menu{
  margin-top: 10px;
}
