<div class="home-body app-container">
  <coding-box-user-workspaces-area
    class="home-panel"
    [workspaces]="workspaces"
    [authBootstrapStatus]="authBootstrapStatus"
    [authDataLoaded]="Number(authData.userId) > 0">
  </coding-box-user-workspaces-area>

  <coding-box-app-info
    class="home-panel"
    [appTitle]="'Web application for coding'"
    [introHtml]="'appService.appConfig.introHtml'"
    [appName]="'IQB-Kodierbox'"
    [appVersion]="'1.16.1'"
    [userName]="authData.userName"
    [userLongName]="appService.userProfile.firstName + ' ' + appService.userProfile.lastName"
    [isUserLoggedIn]="Number(authData.userId) > 0"
    [isAdmin]="authData.isAdmin">
  </coding-box-app-info>
</div>
