.home-body {
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 0;
  overflow-y: auto;
}

.app-container{
  min-height: 80%;
  margin: 20px;
}

coding-box-user-workspaces-area{
  min-width:400px;
  max-width: 500px;
}

coding-box-app-info{
  min-width:400px;
  max-width: 500px;
}
