<div class="fx-row-center-stretch fx-gap-20 app-container">
  <coding-box-user-workspaces-area
    class="fx-column-start-stretch fx-flex-row-30"
    [workspaces]="workspaces">
  </coding-box-user-workspaces-area>

  <coding-box-app-info
    class="fx-column-start-stretch fx-flex-row-30"
    [appTitle]="'Web application for coding'"
    [introHtml]="'appService.appConfig.introHtml'"
    [appName]="'IQB-Kodierbox'"
    [appVersion]="'0.6.1'"
    [userName]="authData.userName"
    [userLongName]="appService.userProfile.firstName + ' ' + appService.userProfile.lastName"
    [isUserLoggedIn]="Number(authData.userId) > 0"
    [isAdmin]="authData.isAdmin">
  </coding-box-app-info>
</div>
