<div class="container">
@if (dataSource.data.length) {
    <coding-box-search-filter
      [title]="'search-filter.filter-test-persons' | translate"
      (valueChange)="dataSource.filter = $event.trim().toLowerCase()">
    </coding-box-search-filter>
  }

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="selectCheckbox">
      <mat-header-cell *matHeaderCellDef class="fx-flex-row-fix-70">
        <mat-checkbox [checked]="(tableSelectionCheckboxes | hasSelectionValue : tableSelectionCheckboxes.selected.length) &&  (tableSelectionCheckboxes.selected.length | isAllSelected : dataSource.data.length)"
                      [indeterminate]="(tableSelectionCheckboxes | hasSelectionValue : tableSelectionCheckboxes.selected.length) && !(tableSelectionCheckboxes.selected.length | isAllSelected : dataSource.data.length)"
                      (change)="$event ? '' : null">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="fx-flex-row-fix-70">
        <mat-checkbox [checked]="tableSelectionCheckboxes | isSelected: row : tableSelectionCheckboxes.selected.length"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? tableSelectionCheckboxes.toggle(row) : null">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    @for (column of displayedColumns; track column) {
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> {{ 'testgroup-' + column | translate}}</th>
        <td mat-cell [innerHTML]="element[column]" *matCellDef="let element"></td>
      </ng-container>
    }
    <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
</div>
