<div class="fx-row-space-between-start">
  <div class="token-settings">
    <h1>Zugangstoken</h1>
    <div class="fx-column-start-start">
      <mat-form-field>
        <mat-label>Laufzeit in Tagen</mat-label>
        <input matInput [(ngModel)]="duration" type="number" placeholder="Laufzeit in Tagen"/>
      </mat-form-field>
      <mat-form-field class="token">
        <textarea matInput cdkTextareaAutosize [value]="authToken" placeholder="Autorisierungs Token">{{authToken}}</textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!duration || duration < 0" (click)="createToken()">Zugangstoken generieren</button>
    </div>
  </div>
    <coding-box-ws-access-rights></coding-box-ws-access-rights>
</div>
