.user-info {
  padding: 16px;
  text-align: center;

  .user-name {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 4px;
  }

  .user-status {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
  }
}
