<button mat-button [style]="{color:'lightgrey'}"
        [matMenuTriggerFor]="menuUser"
        [matTooltip]="'home.user-menu' | translate"
        matTooltipPosition="above">
  <coding-box-wrapped-icon icon="account_box"></coding-box-wrapped-icon>
</button>
<mat-menu #menuUser="matMenu">
  <coding-box-account-action
    [type]="'editMyData'"
    [iconName]="'edit'"
    (click)="editAccount()"
  >
  </coding-box-account-action>
  <coding-box-account-action
    [type]="'logout'"
    [iconName]="'logout'"
    (click)="logout()"
  >
  </coding-box-account-action>
</mat-menu>
