SERVER_NAME=localhost

CODING_BOX_ADMIN_NAME=coding-box-admin
CODING_BOX_ADMIN_EMAIL=coding-box-admin@localhost
CODING_BOX_ADMIN_PASSWORD=change_me
CODING_BOX_ADMIN_CREATED_TIMESTAMP=date --utc +"%s%3N"

CODING_BOX_CLIENT_ID=coding-box
CODING_BOX_CLIENT_SECRET=change_me
