.admin-background {
  box-shadow: 5px 10px 20px black;
  background-color: white;
  padding: 25px;
  margin: 0 15px 15px 15px;
  height: calc(100% - 65px);
}
.active-link {
  color: black;
}
.page-body{
  height: calc(90% - 5px);
}

a{
  font-size: 18px;
}
