.admin-background {
  box-shadow: 5px 10px 20px black;
  background-color: white;
  padding: 25px;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}
.active-link {
  color: black;
}
.page-body{
  height: 100%;
}

a{
  font-size: 18px;
}
