<div class="wrapper">
  <div class="fx-row-space-between-start">
    <h1>Nutzerrechte</h1>
    <button mat-raised-button
            [matTooltip]="'save' | translate"
            matTooltipPosition="above"
            [disabled]="!changed"
            (click)="save()">
      <mat-icon>save</mat-icon>
      {{'save' | translate}}
    </button>
  </div>
<coding-box-ws-roles-header></coding-box-ws-roles-header>
  <div class="scroll-area fx-column-start-stretch">
    @for (u of workspaceUsers.entries; track u) {
      <div class="fx-row-start-center">
        <div class="fx-row-start-center fx-flex-fill fx-gap-15">
          <div class="fx-row-start-center">
            @for (level of [1,2,3]; track level) {
              <mat-checkbox
                [checked]="u.accessLevel === level"
                [matTooltip]="'access-rights.access-level-'+level | translate"
                (change)="changeAccessLevel($event.checked, u, level)">
              </mat-checkbox>
            }
          </div>
          <div data-cy="access-rights"> {{u.name}}</div>
        </div>
      </div>
    }
  </div>
</div>

