<div class="workspaces">
  @if(this.authService.isLoggedIn()){
    @if (workspaces.length === 0) {
      <div>
        <p>{{'home.no-user-workspaces' | translate}}</p>
      </div>
    }
    @if (workspaces.length > 0) {
      <div class="fx-column-start-stretch workspace-gap">
        <h1>Arbeitsbereiche</h1>
        @for (ws of workspaces; track ws.id) {
          <div class="fx-column-start-stretch">
            <div class="fx-row-space-between-center">
              <a mat-raised-button color="primary" class="workspace"
                 [routerLink]="['/workspace-admin/' + ws.id]">
                {{ws.name}}
              </a>
            </div>
          </div>
        }
      </div>
    }
  }@else {
    <div>
      <p>
        Bitte melden Sie sich an, um auf Ihre Arbeitsbereiche zuzugreifen.
      </p>
      <button mat-raised-button color="primary" class="login-button" (click)="this.authService.login()">
        <mat-icon>login</mat-icon>
        <span>Anmelden</span>
      </button>
    </div>
  }
</div>
