.scroll-area {
  height: calc(100% - 35px);
  overflow-y: auto;
}

.object-list {
  height: calc(100% - 5px);
}

.fx-flex-row-fix-70 {
  flex: 1 1 70px;
  box-sizing: border-box;
  max-width: 70px;
  min-width: 70px;
}

.selected {
  background-color: #00606415;
  &:hover {
    background-color: #00606415 !important;
  }
}

.secondary-text {
  color: gray;
}

.deleting-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  font-size: 16px;
}

.delete-status {
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
}
