<div class="booklet-navigation">
  <div class="navigation-controls">
    <button mat-icon-button [disabled]="!hasPreviousUnit()" (click)="previousUnit()" matTooltip="Vorherige Aufgabe" class="nav-button prev-button">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <div class="unit-position">
      <span class="current-position">{{ (unitsData()?.currentUnitIndex || 0) + 1 }}</span>
      <span class="position-separator">/</span>
      <span class="total-units">{{ totalUnits }}</span>
    </div>

    <button mat-icon-button [disabled]="!hasNextUnit()" (click)="nextUnit()" matTooltip="Nächste Aufgabe" class="nav-button next-button">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
