<mat-dialog-content>
  <h2>Nutzer Zugriffs Rechte für Arbeitsbereich </h2>
<coding-box-users-selection (userSelectionChanged)="setUsersSelection($event)" [selectedUserIds] = selectedUserIds />
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button
          color="primary"
          type="submit"
          [mat-dialog-close]="result">
    {{ 'save' | translate }}
  </button>
  <button mat-raised-button
          type="submit"
          [mat-dialog-close]="false">
    {{ 'close' | translate }}
  </button>

</mat-dialog-actions>
