<div class="fx-row-space-between-start admin-tab-content">
  <div class="object-list fx-column-start-stretch fx-flex-row-50">
    <coding-box-workspaces-menu
      [selectedWorkspaceGroupId]="selectedWorkspaceId"
      [selectedRows]="tableSelectionRow.selected"
      [checkedRows]="tableSelectionCheckboxes.selected"
      (workspaceAdded)="addWorkspace($event)"
      (workspaceEdited)="editWorkspace($event)"
      (workspaceDeleted)="deleteWorkspace($event)">
    </coding-box-workspaces-menu>
    <coding-box-workspaces-selection></coding-box-workspaces-selection>
  </div>
</div>
