<div class="fx-row-start-stretch container">
  <button mat-button
          [disabled]="selectedUser?.length > 1"
          [matTooltip]="'admin.edit-user-data' | translate"
          (click)="editUser()">
    <coding-box-wrapped-icon icon="edit"></coding-box-wrapped-icon>
  </button>
  <button mat-button
          [disabled]="!selectedUser"
          [matTooltip]="'admin.delete-selected-users' | translate"
          (click)="deleteUsers()">
    <coding-box-wrapped-icon icon="delete"></coding-box-wrapped-icon>
  </button>

  <button mat-button
          [disabled]="selectedUser?.length > 1"
          [matTooltip]="'admin.set-user-access-rights' | translate"
          (click)="setUserWorkspaceAccessRight()">
    <coding-box-wrapped-icon icon="workspaces"></coding-box-wrapped-icon>
  </button>
</div>
