<div class="fx-column-start-start fx-gap-10 container">
  <a mat-raised-button color="primary" (click)="testCenterImport()">
    <mat-icon>upload</mat-icon>
    Testcenter Import
  </a>
  <a mat-raised-button color="primary" (click)="hiddenFileInput.click()">
    <mat-icon>upload</mat-icon>
    Test Dateien hochladen
  </a>
  <input #hiddenFileInput type="file"
         name="files"
         accept=".xml,.voud,.zip,.html,.csv"
         multiple
         [hidden]="true"
         (change)="onFileSelected($event.currentTarget)"/>
</div>
