<div class="fx-column-start-start fx-gap-10 container">
  <div class="fx-row-center-center-stretch fx-gap-20 upload-buttons">
    <a mat-raised-button color="primary" (click)="testCenterImport()">
      <mat-icon>upload</mat-icon>
      Testcenter Import
    </a>
    <a mat-raised-button color="primary" (click)="hiddenFileInput.click()">
      <mat-icon>upload</mat-icon>
      Test Dateien hochladen
    </a>
    <a mat-raised-button color="primary" [disabled]="tableSelectionCheckboxes.selected.length === 0" (click)="deleteFiles()">
      <mat-icon>delete</mat-icon>
      Test Datei(en) löschen
    </a>
  </div>
  <input #hiddenFileInput type="file"
         name="files"
         accept=".xml,.voud,.vocs,.zip,.html,.csv"
         multiple
         [hidden]="true"
         (change)="onFileSelected($event.currentTarget)"/>
  @if (isLoading) {
    <mat-spinner></mat-spinner>
  }
  @if (!isLoading) {
    @if (dataSource.data.length) {
      <coding-box-search-filter
        [title]="'search-filter.filter-test-files' | translate"
        (valueChange)="dataSource.filter = $event.trim().toLowerCase()">
      </coding-box-search-filter>
    }

    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="selectCheckbox">
        <mat-header-cell *matHeaderCellDef class="fx-flex-row-fix-70">
          <mat-checkbox [checked]="(tableSelectionCheckboxes | hasSelectionValue : tableSelectionCheckboxes.selected.length) &&  (tableSelectionCheckboxes.selected.length | isAllSelected : dataSource.data.length)"
                        [indeterminate]="(tableSelectionCheckboxes | hasSelectionValue : tableSelectionCheckboxes.selected.length) && !(tableSelectionCheckboxes.selected.length | isAllSelected : dataSource.data.length)"
                        (change)="$event ? masterToggle() : null">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="fx-flex-row-fix-70">
          <mat-checkbox [checked]="tableSelectionCheckboxes | isSelected: row : tableSelectionCheckboxes.selected.length"
                        (click)="$event.stopPropagation()"
                        (change)="$event ? tableSelectionCheckboxes.toggle(row) : null">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="filename">
        <mat-header-cell *matHeaderCellDef mat-sort-header="filename">{{'file-upload.filename' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.filename}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="file_size">
        <mat-header-cell *matHeaderCellDef mat-sort-header="file_size">{{'file-upload.file_size' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.file_size | fileSize}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="file_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header="file_type">{{'file-upload.file_type' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.file_type }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header="created_at">{{'file-upload.created_at' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.created_at | date: 'dd.MM.yyyy HH:mm'}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
  }
</div>

