<div class="search-field-container">
  <mat-form-field class="search-field" [class.regex-filter-invalid]="invalid()">
    <mat-label>{{ title() }}</mat-label>
    <input #filterInput
           matInput
           [placeholder]="'search-filter.enter-filter' | translate">
    <button matSuffix
            mat-icon-button
            [attr.aria-label]="'search-filter.delete-filter' | translate"
            [disabled]="!filterInput.value"
            [matTooltip]="'search-filter.delete-filter' | translate"
            matTooltipPosition="above"
            (click)="clearFilter()">
      <coding-box-wrapped-icon icon="close"></coding-box-wrapped-icon>
    </button>
    @if (invalid()) {
      <mat-hint class="regex-filter-error">{{ errorText() | translate }}</mat-hint>
    }
  </mat-form-field>
</div>
