<div class="search-field-container">
  <mat-form-field class="search-field">
    <mat-label>{{ title() }}</mat-label>
    <input matInput
           [placeholder]="'search-filter.enter-filter' | translate"
           [formControl]="searchControl">
    <button matSuffix
            mat-icon-button
            [attr.aria-label]="'search-filter.delete-filter' | translate"
            [disabled]="!searchControl.value"
            [matTooltip]="'search-filter.delete-filter' | translate"
            matTooltipPosition="above"
            (click)="searchControl.setValue('')">
      <coding-box-wrapped-icon icon="close"></coding-box-wrapped-icon>
    </button>
  </mat-form-field>
</div>
