.scroll-area {
  overflow-y: auto;
}

.app-info{
  overflow-y: auto;
  background: lightgray;
  border-radius: 10px;
  padding: 50px;
  font-size: 18px;
  line-height: 20pt;
  height: 100%;
}

.impressum{
  width:100%;
  padding: 20px;
}

.impressum a{
  width:100%;
}

