<h2 mat-dialog-title>Kodierfälle übertragen</h2>

<mat-dialog-content class="fx-column-start-stretch fx-gap-16 dialog-content">
  <p class="description">
    Überträgt alle Kodierfälle von einem Kodierer auf einen anderen innerhalb des aktuellen Arbeitsbereichs.
  </p>

  <mat-form-field appearance="outline">
    <mat-label>Von Kodierer</mat-label>
    <mat-select [(value)]="sourceCoderId">
      <mat-option *ngFor="let coder of coders" [value]="coder.id">
        {{ coder.displayName || coder.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Zu Kodierer</mat-label>
    <mat-select [(value)]="targetCoderId">
      <mat-option *ngFor="let coder of coders" [value]="coder.id">
        {{ coder.displayName || coder.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-raised-button color="primary" [disabled]="submitDisabled" (click)="submit()">
    Übertragen
  </button>
</mat-dialog-actions>
